h1{
    color:rgb(0, 0, 0) ;
    display: flex;
    justify-content: center;   
}
body{
    margin-right: auto;
    margin-left: auto;
}
button{
    width: auto;
    height: auto;
}
.needscenter{
    margin-right: auto;
    margin-left: auto;
}
img:hover{
    background-color: #666;
}